---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@media (min-width: 64em) {
    .author__avatar img {
        border: 0;
    }
    .sidebar {
        width: calc(250px - 1em);
    }
    .page {
        width: calc(100% - 250px);
        padding-inline-end: 250px;
    }
}

.author__avatar img {
    max-width: none;
}
.masthead, #site-nav {
    background: rgb(126, 175, 118);
}
.page__footer {
    background: rgb(72, 100, 68);
}
.sidebar img {
    width: auto;
}

h1, h2, a, .page__title a, a:visited {
    color: rgb(126, 175, 118);
    font-family: 'Roboto', sans-serif;
}

a:hover, b, strong {
    color: rgb(72, 100, 68);
}
h1 {
    font-size: 2em;
    font-weight: 100;
}
h2 {
    color: rgb(72, 100, 68);
    font-weight: 300;
}
p {
    color: #444;
}

.search__toggle {
    color: white;
}

.navicon, .navicon::before, .navicon::after {
    background: white;
}

.greedy-nav .visible-links a:before {
    background: rgb(72, 100, 68);
}

.greedy-nav a, .greedy-nav a:hover, .page__footer a:hover {
    color:white;
}

.greedy-nav .hidden-links {
    background: rgb(126, 175, 118);
    border: 1px solid rgb(126, 175, 118);
}

.feature__item {
    text-align:center
}

@media (min-width: 37.5em) {
    .feature__item {
        width:48%;
        height: 17.5em;
    }
}

@media (min-width: 37.5em) {
    .feature__item:nth-child(3n+1) {
        clear:none;
    }
}