---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@media (min-width: 64em) {
    .author__avatar img {
        border: 0;
    }
    .sidebar {
        width: calc(240px - 1em);
    }
    .page {
        width: calc(100% - 240px);
        padding-inline-end: 240px;
    }
}

.author__avatar img {
    max-width: none;
}
// .page__footer, .masthead, #site-nav {
//     background: rgb(126 175 118);
// }
.sidebar img {
    width: auto;
}